## Deliverable 2. Create a Customer Travel Destinations Map.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [9]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database-Copy1.csv")
city_data_df.head()

,WeatherPy_Database,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Beringovskiy,RU,63.0500,179.3167,50.68,71,8,4.16,Clear
1,1,Pevek,RU,69.7008,170.3133,48.69,61,0,18.59,Clear
2,2,Bluff,NZ,-46.6000,168.3333,48.79,62,82,10.11,Clouds
3,3,Vaini,TO,-21.2000,-175.2000,73.56,88,20,9.22,Clouds
4,4,Kaitangata,NZ,-46.2817,169.8464,45.10,83,100,4.56,Clouds

In [10]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your vacation?"))
max_temp = float(input("what is the maximum temperature you would like for your vacation?"))

What is the minimum temperature you would like for your vacation?65
what is the maximum temperature you would like for your vacation?85

In [14]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)] 
                                    
preferred_cities_df

,WeatherPy_Database,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Vaini,TO,-21.2000,-175.2000,73.56,88,20,9.22,Clouds
8,8,Vaini,TO,-21.2000,-175.2000,73.56,88,20,9.22,Clouds
11,11,Asau,RO,46.4333,26.4000,67.28,69,14,3.56,Clouds
28,28,Eganville,CA,45.5334,-77.0994,73.51,97,100,2.89,Clouds
30,30,Georgetown,MY,5.4112,100.3354,78.89,85,20,2.30,Clouds
31,31,Rikitea,PF,-23.1203,-134.9692,71.06,72,100,16.02,Clouds
36,36,Butaritari,KI,3.0707,172.7902,81.46,76,10,13.40,Clear
39,39,Thompson,CA,55.7435,-97.8558,74.28,37,100,10.69,Clouds
41,41,Arraial Do Cabo,BR,-22.9661,-42.0278,66.06,72,40,8.05,Clouds
43,43,Jamestown,US,42.0970,-79.2353,74.84,58,100,8.05,Clouds
44,44,Pombas,CV,17.1503,-25.0201,80.38,87,100,5.84,Clouds
46,46,Shubarkuduk,KZ,49.1447,56.4872,68.58,32,24,10.29,Clouds
50,50,Vaini,TO,-21.2000,-175.2000,73.56,88,20,9.22,Clouds
53,53,Asau,RO,46.4333,26.4000,67.28,69,14,3.56,Clouds
70,70,Eganville,CA,45.5334,-77.0994,73.51,97,100,2.89,Clouds
72,72,Georgetown,MY,5.4112,100.3354,78.89,85,20,2.30,Clouds
73,73,Rikitea,PF,-23.1203,-134.9692,71.06,72,100,16.02,Clouds
78,78,Butaritari,KI,3.0707,172.7902,81.46,76,10,13.40,Clear
81,81,Thompson,CA,55.7435,-97.8558,74.28,37,100,10.69,Clouds
83,83,Arraial Do Cabo,BR,-22.9661,-42.0278,66.06,72,40,8.05,Clouds
85,85,Jamestown,US,42.0970,-79.2353,74.84,58,100,8.05,Clouds
86,86,Pombas,CV,17.1503,-25.0201,80.38,87,100,5.84,Clouds
88,88,Shubarkuduk,KZ,49.1447,56.4872,68.58,32,24,10.29,Clouds
92,92,Vaini,TO,-21.2000,-175.2000,73.56,88,20,9.22,Clouds
95,95,Asau,RO,46.4333,26.4000,67.28,69,14,3.56,Clouds
112,112,Eganville,CA,45.5334,-77.0994,73.51,97,100,2.89,Clouds
114,114,Georgetown,MY,5.4112,100.3354,78.89,85,20,2.30,Clouds
115,115,Rikitea,PF,-23.1203,-134.9692,71.06,72,100,16.02,Clouds
120,120,Butaritari,KI,3.0707,172.7902,81.46,76,10,13.40,Clear
123,123,Thompson,CA,55.7435,-97.8558,74.28,37,100,10.69,Clouds
125,125,Arraial Do Cabo,BR,-22.9661,-42.0278,66.06,72,40,8.05,Clouds
127,127,Jamestown,US,42.0970,-79.2353,74.84,58,100,8.05,Clouds
128,128,Pombas,CV,17.1503,-25.0201,80.38,87,100,5.84,Clouds
130,130,Shubarkuduk,KZ,49.1447,56.4872,68.58,32,24,10.29,Clouds
137,137,Lompoc,US,34.6391,-120.4579,83.70,79,100,11.50,Clouds
140,140,Liwale,TZ,-9.7667,37.9333,65.64,82,38,3.71,Clouds
142,142,Hilo,US,19.7297,-155.0900,84.25,64,75,9.22,Clouds

In [20]:
# 4a. Determine if there are any empty rows.
clean_travel_cities = preferred_cities_df.dropna()
clean_travel_cities.head()

,WeatherPy_Database,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Vaini,TO,-21.2000,-175.2000,73.56,88,20,9.22,Clouds
8,8,Vaini,TO,-21.2000,-175.2000,73.56,88,20,9.22,Clouds
11,11,Asau,RO,46.4333,26.4000,67.28,69,14,3.56,Clouds
28,28,Eganville,CA,45.5334,-77.0994,73.51,97,100,2.89,Clouds
30,30,Georgetown,MY,5.4112,100.3354,78.89,85,20,2.30,Clouds

In [21]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_travel_cities = preferred_cities_df.dropna()
clean_travel_cities.head()

,WeatherPy_Database,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Vaini,TO,-21.2000,-175.2000,73.56,88,20,9.22,Clouds
8,8,Vaini,TO,-21.2000,-175.2000,73.56,88,20,9.22,Clouds
11,11,Asau,RO,46.4333,26.4000,67.28,69,14,3.56,Clouds
28,28,Eganville,CA,45.5334,-77.0994,73.51,97,100,2.89,Clouds
30,30,Georgetown,MY,5.4112,100.3354,78.89,85,20,2.30,Clouds

In [23]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Vaini,TO,73.56,Clouds,-21.2000,-175.2000,
8,Vaini,TO,73.56,Clouds,-21.2000,-175.2000,
11,Asau,RO,67.28,Clouds,46.4333,26.4000,
28,Eganville,CA,73.51,Clouds,45.5334,-77.0994,
30,Georgetown,MY,78.89,Clouds,5.4112,100.3354,
31,Rikitea,PF,71.06,Clouds,-23.1203,-134.9692,
36,Butaritari,KI,81.46,Clear,3.0707,172.7902,
39,Thompson,CA,74.28,Clouds,55.7435,-97.8558,
41,Arraial Do Cabo,BR,66.06,Clouds,-22.9661,-42.0278,
43,Jamestown,US,74.84,Clouds,42.0970,-79.2353,

In [27]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Vaini,TO,73.56,Clouds,-21.2000,-175.2000,Keleti Beach Resort
8,Vaini,TO,73.56,Clouds,-21.2000,-175.2000,Keleti Beach Resort
11,Asau,RO,67.28,Clouds,46.4333,26.4000,Casa Mika Ciobanus
28,Eganville,CA,73.51,Clouds,45.5334,-77.0994,Egan Inn
30,Georgetown,MY,78.89,Clouds,5.4112,100.3354,Cititel Penang
31,Rikitea,PF,71.06,Clouds,-23.1203,-134.9692,People ThankYou
36,Butaritari,KI,81.46,Clear,3.0707,172.7902,Isles Sunset Lodge
39,Thompson,CA,74.28,Clouds,55.7435,-97.8558,Burntwood Hotel
41,Arraial Do Cabo,BR,66.06,Clouds,-22.9661,-42.0278,Pousada Porto Praia
43,Jamestown,US,74.84,Clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
44,Pombas,CV,80.38,Clouds,17.1503,-25.0201,Paul Paradis
46,Shubarkuduk,KZ,68.58,Clouds,49.1447,56.4872,Sirius
50,Vaini,TO,73.56,Clouds,-21.2000,-175.2000,Keleti Beach Resort
53,Asau,RO,67.28,Clouds,46.4333,26.4000,Casa Mika Ciobanus
70,Eganville,CA,73.51,Clouds,45.5334,-77.0994,Egan Inn
72,Georgetown,MY,78.89,Clouds,5.4112,100.3354,Cititel Penang
73,Rikitea,PF,71.06,Clouds,-23.1203,-134.9692,People ThankYou
78,Butaritari,KI,81.46,Clear,3.0707,172.7902,Isles Sunset Lodge
81,Thompson,CA,74.28,Clouds,55.7435,-97.8558,Burntwood Hotel
83,Arraial Do Cabo,BR,66.06,Clouds,-22.9661,-42.0278,Pousada Porto Praia
85,Jamestown,US,74.84,Clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
86,Pombas,CV,80.38,Clouds,17.1503,-25.0201,Paul Paradis
88,Shubarkuduk,KZ,68.58,Clouds,49.1447,56.4872,Sirius
92,Vaini,TO,73.56,Clouds,-21.2000,-175.2000,Keleti Beach Resort
95,Asau,RO,67.28,Clouds,46.4333,26.4000,Casa Mika Ciobanus
112,Eganville,CA,73.51,Clouds,45.5334,-77.0994,Egan Inn
114,Georgetown,MY,78.89,Clouds,5.4112,100.3354,Cititel Penang
115,Rikitea,PF,71.06,Clouds,-23.1203,-134.9692,People ThankYou
120,Butaritari,KI,81.46,Clear,3.0707,172.7902,Isles Sunset Lodge
123,Thompson,CA,74.28,Clouds,55.7435,-97.8558,Burntwood Hotel
125,Arraial Do Cabo,BR,66.06,Clouds,-22.9661,-42.0278,Pousada Porto Praia
127,Jamestown,US,74.84,Clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
128,Pombas,CV,80.38,Clouds,17.1503,-25.0201,Paul Paradis
130,Shubarkuduk,KZ,68.58,Clouds,49.1447,56.4872,Sirius
137,Lompoc,US,83.70,Clouds,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
140,Liwale,TZ,65.64,Clouds,-9.7667,37.9333,Tumaini Tulivu Lodge
142,Hilo,US,84.25,Clouds,19.7297,-155.0900,Hilo Hawaiian Hotel

In [29]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Vaini,TO,73.56,Clouds,-21.2000,-175.2000,Keleti Beach Resort
8,Vaini,TO,73.56,Clouds,-21.2000,-175.2000,Keleti Beach Resort
11,Asau,RO,67.28,Clouds,46.4333,26.4000,Casa Mika Ciobanus
28,Eganville,CA,73.51,Clouds,45.5334,-77.0994,Egan Inn
30,Georgetown,MY,78.89,Clouds,5.4112,100.3354,Cititel Penang

In [40]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [48]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [49]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
map = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(map)

Figure(layout=FigureLayout(height='420px'))